@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  color: #fff;
  height: 100vh;
}
