@import url('https://fonts.googleapis.com/css?family=Lekton');

* {
  font-family: 'Lekton', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  color: #fff;
  height: 100vh;
}
